# Ignore models folder
models/

# Ignore newArktsRepos folder
newArktsRepos/
ArktsRepos/

# Ignore Python cache directories
__pycache__/
out_rounds/
/node_modules

# Ignore IDE configuration directories
.idea/
.vscode/
.env

data_processing/preprocess/bg_data/
data_processing/preprocess/bg_data_select/
data_processing/preprocess/trans_text_data/
