# Ignore models folder
models/

# Ignore newArktsRepos folder
newArktsRepos/
ArktsRepos/

# Ignore Python cache directories
__pycache__/
out_rounds/
/node_modules

# Ignore IDE configuration directories
.idea/
.vscode/
cache/.env
